In [34]:
print("LOOPING THROUGH AN ENTIRE LIST")

LOOPING THROUGH AN ENTIRE LIST

In [9]:
magicians = [ 'alice', 'david', 'carolina']
for magician in  magicians:
    print(magician.title())

Alice
David
Carolina

In [10]:
magicians = [ 'alice', 'david', 'carolina']
for magician in  magicians:
    print(magician.title() + ", that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [22]:
magicians = [ 'alice', 'david', 'carolina']
for magician in  magicians:
    print(magician.title() + ", that was a great trick!")
    print("I can't wait to see your next trick, " + magician.title() + ".\n")
    
print("Thank you everyone. That was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone. That was a great magic show!

In [27]:
print("Example: Forgetting To Indent Additional Lines" + "\n")

magicians = [ 'alice', 'david', 'carolina']
for magician in  magicians:
    print(magician.title() + ", that was a great trick!")
print("I can't wait to see your next trick, " + magician.title() + ".\n")

Example: Forgetting To Indent Additional Lines

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [26]:
print("Example: Forgetting To Indent ")

magicians = [ 'alice', 'david', 'carolina']
for magician in  magicians:
print(magician)

IndentationError: expected an indented block (<ipython-input-26-d7a5386d8b06>, line 5)

In [30]:
print("Example: Indenting Unnecessarily After The Loop" + "\n")

magicians = ['alice', 'david', 'carolina'] 
for magician in magicians:
    print(magician.title() + ", that was a great trick!")
    print("I can't wait to see your next trick, " + magician.title() + ".\n")  
    
    print("Thank you everyone, that was a great magic show!")

Example: Indenting Unnecessarily After The Loop

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

Thank you everyone, that was a great magic show!
David, that was a great trick!
I can't wait to see your next trick, David.

Thank you everyone, that was a great magic show!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

In [36]:
print("4-1 Try It Yourself Example" + "\n")

pizzas = ['pepperoni', 'cheese', 'vegetable']
for pizza in pizzas:
    print("I like " + pizza.lower() + " pizza." + "\n")
        
print("I really love pizza!")

4-1 Try It Yourself Example

I like pepperoni pizza.

I like cheese pizza.

I like vegetable pizza.

I really love pizza!

In [39]:
print("4-2 Try It Yourself Example" + "\n") 

animals = ['dog', 'cat', 'goldfish']
for animal in animals:
    print("A " + animal.lower() + " would make a great pet." + "\n")
    
print("Any of these animals would make a great housepet!")

4-2 Try It Yourself Example

A dog would make a great pet.

A cat would make a great pet.

A goldfish would make a great pet.

Any of these animals would make a great housepet!

In [47]:
print("Making Numerical Lists")

Making Numerical Lists

In [48]:
print("Using The range() Function:" + "\n")

for value in range(1,6):
    print(value)

print("\n" + "(Remember off by one value rule!!")

Using The range() Function:

1
2
3
4
5

(Remember off by one value rule!!

In [50]:
print("Using range() to Make a List of Numbers" + "\n")

numbers = list(range(1,6))
print(numbers)

Using range() to Make a List of Numbers

[1, 2, 3, 4, 5]

In [52]:
even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
even_numbers = list(range(2,13,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12]

In [65]:
odd_numbers = list(range(1,12,2))
print(odd_numbers)

[1, 3, 5, 7, 9, 11]

In [74]:
squares = []
for value in range(1,11):
    square = value**2
    squares.append(square)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
print("More Concisely:" + "\n")

squares = []
for value in range(1,11):
    squares.append(value**2)
    
print(squares)

More Concisely:

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
print("List Comprehensions" + "\n")

squares = [value**2 for value in range(1,11)]
print(squares)

List Comprehensions

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(min(digits))
print(max(digits))
print(sum(digits))

0
9
45

In [1]:
print("Prework question 1 answer")

print("Hello " + input("What is your name?: "))

Prework question 1 answer
What is your name?: Baruch Rotbart
Hello Baruch Rotbart

In [10]:
print("4-3 Counting to Twenty" + "\n")

numbers = list(range(1,21))
print(numbers)

4-3 Counting to Twenty

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
print("4-4 One Thousand" + "\n")

numbers = []
for value in range(1,1001):
    numbers.append(value)
    
print(numbers)

4-4 One Thousand

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

In [17]:
print("4-5 Summing a Thousand" + "\n")

numbers = list(range(1,1001))
print(sum(numbers))

4-5 Summing a Thousand

500500

In [23]:
print("4-6 Odd Numbers" + "\n")

odd_numbers = list(range(1,21,2))
print(odd_numbers)

4-6 Odd Numbers

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [24]:
print("4-6 Odd Numbers With for Loop" + "\n")

odd_numbers = []
for value in range(1,21,2):
    odd_numbers.append(value)
    
print(odd_numbers)

4-6 Odd Numbers with for loop

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [28]:
print("4-7 Threes" + "\n")

three_times = []
for value in range(3,31,):
    three_times.append(value*3)
    
print(three_times)

4-7 Threes

[9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90]

In [30]:
print("4-8 Cubes" + "\n")

cubes = []
for value in range(1,11):
    cubes.append(value**3)
    
print(cubes)

4-8 Cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [33]:
print("4-8 Cube Comprehension" + "\n")

cubes = [value**3 for value in range(1,11)]
print(cubes)

4-8 Cube Comprehension

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [37]:
print("'WORKING WITH PART OF A LIST'")

'WORKING WITH PART OF A LIST'

In [51]:
print("Slicing A List" + "\n")

players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])
print(players[1:4])
print(players[:4])
print(players[2:])
print(players[-3:])

Slicing A List

['charles', 'martina', 'michael']
['martina', 'michael', 'florence']
['charles', 'martina', 'michael', 'florence']
['michael', 'florence', 'eli']
['michael', 'florence', 'eli']

In [50]:
print("Looping Through A Slice" + "\n")

players = ['charles', 'martina', 'michael', 'florence', 'eli']
for player in players[:3]:
    print(player.title())

Looping Through A Slice

Charles
Martina
Michael

In [5]:
print("Copying a List" + "\n")

my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

my_foods.append('cannoli')
friend_foods.append('ice cream')

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:") 
print(friend_foods)

Copying a List

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'ice cream']

In [8]:
print("Tuples" + "\n")

dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

Tuples

200
50

In [11]:
print("Looping Through All Values In A Tuple" + "\n")

dimensions = (200, 50)
for dimension in dimensions:
    print(dimension)

Looping Through All Values In A Tuple

200
50

In [17]:
print("Writing Over A Tuple" + "\n")

dimensions = (200, 50)
print("Original dimensions:")
for dimension in dimensions:
    print(dimension)
    
dimensions = (400, 100)
print("\nModified dimensions:")
for dimension in dimensions:
    print(dimension)

Writing Over A Tuple

Original dimensions:
200
50

Modified dimensions:
400
100